<h1>Pet Owners' Database</h1>

Our Organization has <%= Owner.public_count %> pet owners and counting!

<div>
    <%= link_to "Create New Owner Here", new_owner_path %>
</div>

<h2>Entries so far:</h2>
<% @owners.each do |owner| %>
    <table>
        <tr>
            <td> <strong>Name</strong> </td>
            <td><%= owner.name %></td>
        </tr>
        <tr>
            <td> <strong>Contact Details</strong> </td>
            <td><%= owner.tel_num %></td>
        </tr> 
    </table>
    <% if owner.archived? %>
        ARCHIVED!!! <br>
    <% end %>
    <% unless owner.archived? %> <!--BUG RESOLVED!-->
        <div>
            <%= link_to "SHOW", owner_path(owner) %> | <%= link_to "EDIT", edit_owner_path(owner) %> | 
            <%= link_to "DELETE", owner_path(owner), data: {
                turbo_method: "DELETE",
                turbo_confirm: "ARE YOU SURE?!"
            } %>
        </div> 
    <% end %>
    
    <br>
<% end %>

<!--
<hr>
<%= @owners.each do |_owner| %>
    <p>--debugging purposes--</p>
    <p><%= _owner.id %></p>
    <p><%= _owner.name %></p>
    <p><%= _owner.tel_num %></p>
    <p>status: <%= _owner.status %> </p>

<% end %>-->


