<h1><%= @owner.name %> </h1>

<%= link_to "EDIT", edit_owner_path(@owner) %> | 
<%= link_to "DELETE", owner_path(@owner), data: {
    turbo_method: "DELETE",
    turbo_confirm: "ARE YOU SURE?!"
} %> | 
<%= link_to "Go Back", owners_path%>

<h2>List of Pets Owned</h2>

<!--Rendered from _pet.html.erb -->
<%= render @owner.pets %>

<hr>

<h2>Add a pet here</h2>
<%= render 'pets/owners_pet'%>

