<h1><%= @owner.name %> </h1>

<%= link_to "Go Back", owners_path%>

<h2>List of Pets Owned</h2>
<% @owner.pets.each do |pet|%>
    <table>
        <tr>
            <td> <strong>Name</strong> </td>
            <td><%= pet.name %></td>
        </tr>
        <tr>
            <td> <strong>Type</strong> </td>
            <td><%= pet.pet_type %></td>
        </tr>
    </table>
<% end %>

<hr>
<h2>Add a pet here</h2>
<%= form_with model: [ @owner, @owner.pets.build ] do |owners_pet| %>
    <table>
        <tr>
            <td><%= owners_pet.label :name %></td>
            <td><%= owners_pet.text_field :name %></td>
        </tr>
        <tr>
            <td><%= owners_pet.label :pet_type %></td>
            <td><%= owners_pet.select :pet_type, ['Dog', 'Cat'] %></td>
        </tr>
    </table>
    <div>
        <%= owners_pet.submit %>
    </div>
<% end %>

