<p style="color: green"><%= notice %></p>

<h1><%= @owner.name %></h1>
<p><strong>Number of Pets Owned so far:</strong> <%= @owner.pets.count %></p>

<div id="pets">
  <% @owner.pets.each do |pet| %>
    <%= render pet %>
  <% end %>
</div>
<%= link_to "New pet", new_owner_pet_path(@owner,@pet) %>

<hr>

<div>
  <%= link_to "Edit this owner", edit_owner_path(@owner) %> |
  <%= link_to "Back to owners", owners_path %>
  <%= button_to "Destroy this owner", @owner, method: :delete %>
</div>
