<h1> <%= @pet.name %> the <%= @pet.pet_type %> </h1>
<%= link_to 'Go Back', owner_path(@owner) %>
<hr>
<h2>BOOKINGS</h2>
<p>--Book A Slot Now--</p>
<%= render 'pet_bookings/booking' %>
<hr>
<h2>Bookings made so far</h2>

<p>--debugging purposes--</p>
<%= @pet.pet_bookings.each do |booking| %>
    <p><%= booking.id %></p>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
    <p><%= booking.cage_num %></p>
<% end %>

