<%= form_with model: [ @pet, @pet.pet_bookings.build ] do |booking| %>
    <h3><%=[ @pet, @pet.pet_bookings]%></h3>
    <table>
        <p><%= @pet %></p>
        <p>TESTING: <%= booking %></p>
        <p><%=params%></p>
        <tr>
            <td><%= booking.label :start_date %></td>
            <td><%= booking.date_field :start_date %></td>
        </tr>
        <tr>
            <td><%= booking.label :end_date %></td>
            <td><%= booking.date_field :end_date %></td>
        </tr>
        <tr>
            <td><%= booking.label :cage_num %></td>
            <td><%= booking.text_field :cage_num %></td>
        </tr>
    </table>
    <div>
        <%= booking.label :status %><br>
        <%= booking.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
    <br>
    <div>
        <%= booking.submit 'Add the Pet Booking' %>
    </div>
<% end %>